window {
margin: 5px;
border: 0px solid #88c0d0;
background-color: #2e3440;
border-radius: 15px;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #3b4252;
}

#inner-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#scroll {
margin: 0px;
border: none;
}

#text {
  padding-left:15px;
margin: 5px;
border: none;
color: #d8dee9;
}
#text:selected
{
}
#img
{
}



#entry:selected {
background-color: #3b4252;
border-radius:5px;
}


